@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-SemiBold.woff2') format('woff2'),
        url('fonts/JetBrainsMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.cubes {
    position: absolute;
}

.uis {
    position: absolute;
    font-family: 'JetBrains Mono';
}

#time {
    font-weight: 600;
}

#moves {
    font-weight: normal;
}

/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
    user-select: none;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}